/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Poppins-Light";
  src: URL("/static/fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Extra-Light";
  src: URL("/static/fonts/Poppins-ExtraLight.ttf") format("truetype");
}

html {
  background-image: url(/static/images/bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-color: #000000;
}

.content-container {
  z-index: -10;
  padding: 10% 22%;
}

.content {
  padding: 8% 10%;
  color: #fff;
  background-image: url(/static/images/bg_pattern_brown.png);
  box-shadow: 0 0 0 10px rgba(44, 25, 0, 0.2);
  border-radius: 2%;
}

.content-header {
  display: flex;
  align-items: center;
  font-size: 40px;
  border-bottom: 1px solid #100f0f;
  padding-bottom: 20px;
}

.header-image {
  object-fit: cover;
  border-radius: 50%;
  border: 6px solid #fff;
}

.header-caption {
  margin-left: 10%;
}

p {
  padding-bottom: 20px;
  line-height: 1.45;
  font-family: "Poppins-Extra-Light", "extra-light";
}

.content-section-bio {
  border-top: 1px solid #2f2e2d;
  font-size: 24px;
  padding: 20px 0;
  border-bottom: 1px solid #100f0f;
}

.content-section-projects {
  border-top: 1px solid #2f2e2d;
  font-size: 24px;
  padding: 20px 0;
  border-bottom: 1px solid #100f0f;
}

.content-section-contacts {
  border-top: 1px solid #2f2e2d;
  font-size: 24px;
  padding: 20px 0;
}

.right-align-links {
  margin-left: auto;
}

h1 {
  padding-bottom: 10px;
}

h2 {
  font-size: 28px;
  padding-bottom: 25px;
}

li {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #353526;
  padding-top: 15px;
  font-family: "Poppins-Extra-Light", "extra-light";
}

body {
  margin: 0px 0px;
  font-family: "Poppins-Light";
}

a {
  color: #b47413;
}

@media (max-width: 1180px) {
  .header-image {
    width: 140px;
    height: 140px;
    border: 4px solid #fff;
  }
  .content-header {
    font-size: 34px;
  }
  h2 {
    font-size: 24px;
    padding-bottom: 20px;
  }
  .content-container {
    padding: 8% 16%;
  }
  p {
    padding-bottom: 20px;
  }
  .content-section-bio,
  .content-section-projects,
  .content-section-contacts {
    font-size: 22px;
  }
  li {
    padding-bottom: 8px;
    padding-top: 12px;
  }
}
@media (max-width: 830px) {
  .header-image {
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
  }
  .content-container {
    padding: 7% 10%;
  }
  .content-header {
    font-size: 28px;
  }
  h2 {
    font-size: 22px;
    padding-bottom: 15px;
  }
  p {
    padding-bottom: 15px;
  }
  .content-section-bio,
  .content-section-projects,
  .content-section-contacts {
    font-size: 20px;
  }
  li {
    padding-bottom: 6px;
    padding-top: 10px;
  }
}
@media (max-width: 580px) {
  .header-image {
    width: 90px;
    height: 90px;
    border: 3px solid #fff;
  }
  .content-header {
    font-size: 24px;
  }
  .content-container {
    padding: 6% 6%;
  }
  .content {
    padding: 4% 5%;
  }
  h2 {
    font-size: 20px;
    padding-bottom: 10px;
  }
  p {
    padding-bottom: 10px;
  }
  .content-section-bio,
  .content-section-projects,
  .content-section-contacts {
    font-size: 18px;
  }
  li,
  li span,
  li a {
    display: block;
  }
  .left-align-links {
    padding-bottom: 8px;
    padding-left: 14px;
  }
}
@media (max-width: 350px) {
  .header-image {
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
  }
  .content-header {
    font-size: 20px;
  }
  h2 {
    font-size: 16px;
    padding-bottom: 8px;
  }
  p {
    padding-bottom: 8px;
  }
  .content-section-bio,
  .content-section-projects,
  .content-section-contacts {
    font-size: 14px;
  }
}
